//----- ADVERTENCIA -----//
/*
* Código SCSS elaborado con fines de apoyar el ejercicio en React
* Utilizar bajo su propio riesgo
* Coman frutas y verduras
*
* Su amigo: Juan Disain
*/
//----- FINAL DE LA ADVERTENCIA -----//

//----- Layout - base -----//
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --spacing: 0.75rem;
  }
  
  body {
    font-family: sans-serif;
    background: #688097
  }
  
  main {
    margin: 0 auto;
    max-width: 1500px;
    padding: 2rem 1rem;
  }
  
  h1 {
    color: white;
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
  
  h2 {
    margin-bottom: 1rem;
    color: white
  }
  
  .tareas table{
    width: 80%;

  }

  @import url('https://fonts.googleapis.com/css?family=Raleway:200');

  .definirTareas {
    --borderWidth: 3px;
    background: #3c8151;
    position: relative;
    width: 60%;
    border-radius: var(--borderWidth);
    padding: 2rem 1rem;
  }
  .definirTareas:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .definirTareas table{
    width: 50%;

  }  

  .fieldError{
    color:#da1e1e;
  }
  
  article img {
    --size: 4.5rem;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: var(--spacing);
  }
  
  //----- Botones -----//
  button {
    border-radius: 6px;
    cursor: pointer;
    background-color: #688097;
    outline: none;
    padding: 5px;
  }
  